.form-form {
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto;
    row-gap: 15px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.945);
    padding: 1.6rem;
    margin: auto;
}

.email-input,
.name-input,
.direction-input,
.phone-input {
    color: black;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}