.img-fondo-carrito {
  position: relative;
  object-fit: cover;
  padding: 0;
  margin-bottom: -50rem;
  width: 100%;
  height: 990px;
  z-index: -1;
  user-select: none;
}

.topicscart {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(87, 90, 94, 0.7);
  text-align: center;
}

.h5cart {
  padding: 10px;
  color: white;
}

.price-div-cart {
  margin-right: px;
  margin-left: px;
}

.itemcartcss {
  display: block;
  position: relative;
  box-sizing: inherit;
  margin: 10px;
}

.imgcartcss {
  display: inline;
  place-self: center;
  width: 50%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.deletecartbutton {
  scale: 0.7;
}

.itemcartx {
  background-color: rgba(255, 255, 255, 0.945);
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
  gap: 10px;
}

.totalprice {
  margin-top: 8px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 3px;
  padding: 3px
}

.noproducts,
.gracias {
  display: grid;
  text-align: center;
  margin: 3rem;
}

.namecart,
.brandcart,
.pricecart,
.cantidadcart,
.deletebtn {
  place-self: center;
  text-align: center;
}

.namecart {
  grid-column: 2;
}

.brandcart {
  grid-column: 3;
}

.pricecart {
  grid-column: 4;
}

.cantidadcart {
  grid-column: 5;
}

.deletebtn {
  grid-column: 6;
  scale: 90%;
}


.btnemptycart {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;

}

.priceandempty {
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
  justify-content: end;
  align-items: center;
}

.btnfinbuy {
  display: flex;
  justify-content: center;
  margin: 1.3rem;
  scale: 1.3;
}

.finallybuy {
  text-transform: uppercase;

}

@media (max-width: 767px) {
  .itemcartx {
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr;
    grid-template-rows: repeat(4, 40px);
    padding: 10px 0;
  }

  .imgcartcss {
    grid-row: 1/5;
    min-width: 50%;
    max-width: 50%;
  }

  .namecart,
  .brandcart,
  .pricecart,
  .cantidadcart {
    grid-column: 2;
    place-self: center;
    text-align: center;
  }

  .deletebtn {
    grid-column: 3;
    grid-row: 2/4;
  }

  .topicscart {
    display: none;
  }

  .priceandempty {
    justify-content: center;
  }

}