.img-fondo-carrito {
  position: relative;
  object-fit: cover;
  padding: 0;
  margin-bottom: -50rem;
  width: 100%;
  height: 990px;
  z-index: -1;
  user-select: none;
}



.topicscart {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(87, 90, 94, 0.7);

}

.h5cart {
  padding: 10px;
  color: white;
}

.price-div-cart {
  margin-right: px;
  margin-left: px;
}

.itemcartcss {
  display: block;
  position: relative;
  box-sizing: inherit;
  margin: 10px;
}

.imgcartcss {
  display: inline;
  place-self: center;
  width: 12%;
}

.deletecartbutton {
  scale: 0.7;
}

.itemcartx {
  background-color: rgba(255, 255, 255, 0.945);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}


.info-content-cart {
  display: flex;
}

.totalprice {
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 3px;
}

.noproducts,
.gracias {
  display: grid;
  text-align: center;
}

.link-products{
  display: inline-block;
  font-size: 20px;
  border-radius: 20px;
  background-color: aliceblue;
  margin-left: 520px;
  margin-right: 520px;
  text-align: center;
 
}

.infoproduct {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1fr 1fr 1fr;
  place-items: center;
  gap: 10px;

}

.namecart {
  grid-column: 1;
}

.brandcart {
  grid-column: 2;
}

.pricecart {
  grid-column: 3;
}

.cantidadcart {
  grid-column: 4;
}

.deletebtn {
  grid-column: 5;
  scale: 90%;
}


.btnemptycart {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;

}

.priceandempty {
  display: flex;
  margin-top: 20px;
  justify-content: end;
  align-items: center;
  padding: 0;
}

.btnfinbuy {
  display: flex;
  justify-content: center;
  margin: 1.3rem;
}



@media (min-width: 1400px) {
  .itemcartcss {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1399px) {
  .itemcartcss {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1039px) {
  .itemcartcss {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .itemcartcss {
    max-width: 70%;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .itemcartcss {
    max-width: 80%;
  }

  .itemcartx {
    scale: 0.9;
  }
}