:root {
    --blanco: rgb(233, 233, 233);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.form-div {
    margin: -10rem auto 0 auto;
    background-color: var(--blanco);
    width: 65%;
    /*Sombra de caja con responsive en diferentes navegadores*/
    -webkit-box-shadow: 0px 6px 24px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 24px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 24px -1px rgba(0, 0, 0, 0.75);
    padding: 2.5rem 1rem;
    border-radius: 15px;
    font-size: 1.3rem;
}

.form-login-css {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1.2rem;
}

.signin-now{
    grid-row: 1;
    grid-column: span 2;
    place-self: center;
    font-size: 2rem;
    border-radius: 15px;
    border: 2px solid;
    padding: 0 1rem;
    pointer-events: none;
    user-select: none;
}

.email-div {
    grid-column: 1;
    place-self: center;
    scale: 1.1;
    grid-row: 2;
}

.password-div {
    grid-column: 2;
    place-self: center;
    scale: 1.1;
    grid-row: 2;
}

.signin-div {
    grid-row: 2;
    grid-column: span 2;
    place-self: center;
    scale: 0.95;
    grid-row: 3;
}

.forgot-password-div {
    place-self: center;
    grid-row: 4;
    grid-column: span 2;
}

.forgot-password {
    font-size: 1rem;
}

.button-google {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.cap-button {
    padding: 0.3rem;
    border-radius: 1.5rem;
    scale: 1.6;
}


.register-p {
    margin-top: 2rem;
    padding-left: 1rem;
    font-size: 1.32rem;
}

.welcome-p {
    text-align: center;
}

.logout-div {
    display: flex;
    justify-content: center;
    color: var(--blanco)
}

@media (max-width: 990px) {
    .form-div {
        width: 90%;
        grid-column: 1;

    }
}

@media (max-width: 660px) {
    .form-login-css {
        display: flex;
        flex-direction: column;
    }
    .register-p {
        margin-top: 1.3rem;
    }
}