* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}


.container-fluid {
  display: inline-block;
  text-align: justify;
  justify-content: space-between;

}

.grid-container {
  display: flex;
  padding: 100px;
  margin: 30px;
  /* display: grid;
  grid-template-columns: repeat(250px, 3fr);
  grid-auto-rows: repeat(3, auto);
  gap: 60px;
  padding: 100px;
  grid-auto-flow: dense;
  row-gap: 100px; */
}

.itemcss {
  display: inline-block;
  max-width: 250px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.style-productos {
  display: inline-block;

}

.itemcss:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.imgclassName {
  background-size: cover;
  height: auto;
  width: auto;
  max-height: 250px;
  max-width: 250px;
}

.name {
  display: flex;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;

}

.price {
  display: flex;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.brand {
  display: flex;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;

}

.counter {
  display: flex;
  margin-top: 30px;
  text-align: center;
}





.navbar {
  margin-bottom: 2px;
}



.form-control {
  text-align: center;
  max-width: 70%;
  justify-content: center;
  align-items: center;
  margin-left: 190px;
}

.h2input {

  margin-left: 190px;

}

.itemdetailcss {
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.formcss {
  padding: 100px;
}

.loginuser {
  display: block;
  width: 100%;
  margin-right: 10px;
}