.btn-decrement{
    padding: 0;
    background-color: white;
    color: black;
    margin-right: 10px;
}

.btn-increment{
    padding: 0;
    background-color: white;
    color: black;
    margin-left: 10px;
}

.div-counter{
    display: flex;
    padding: 0px;
    border-radius: 15px;
    border: 1px solid black;
    color: black;
    margin-bottom: 20px;
    width: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    place-self: center;   
}

.div-counter-flex{
    display: block;
}