.btn-decrement{
    background-color: white;
    color: black;
}

.btn-increment{
    background-color: white;
    color: black;
}

.div-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    border: 1px solid black;
    color: black;
    max-width: max-content;
    margin: 10px auto 20px auto;
}
.counternumber{
    padding-left: 1px;
    padding-right: 1px;
}
