.btn-decrement{
    background-color: white;
    color: black;
    margin-right: 10px;
}

.btn-increment{
    background-color: white;
    color: black;
    margin-left: 10px;
}

.div-counter{
    display: block;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    margin-bottom: 20px;
   
}
